language: php

php:
    - "5.5"
    - "5.6"
    - "7.0"

before_script:
  - mysql -e 'create database tabulate;'

install:
  - composer install
  - echo "<?php \$databaseName='tabulate';\$databaseUser='root';\$debug=true;\$storageDirExport=sys_get_temp_dir();\$baseUrl='';" > $TRAVIS_BUILD_DIR/tests/config.php

script:
  - phpunit
  - phpcs --report=full --standard=PSR2 src tests
