{% extends "base.twig" %}
{% block content %}

    <h1>Log in</h1>
    <form action="{{baseurl}}/login" method="post" id="login">
        <p>
            <label for="name">Name:</label>
            <input type="text" name="name" id="name" class="form-control" required autofocus />
        </p>
        <p>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" class="form-control" required />
        </p>
        <p>
            <button class="btn btn-primary" type="submit" name="login" value="login">Log in</button>
            <button class="btn btn-default" type="submit" name="remind" value="remind">Remind</button>
        </p>
    </form>

    <p>Don't have an account? <a href="{{baseurl}}/register">Register</a> one now.</p>

{% endblock %}
